---
// Site footer.
---
<footer class="ftr">
  <div class="wrap">
    <div class="ftr-grid">
      <div class="ftr-brand">
        <a href="#top" class="brand"><svg class="mark" viewBox="0 0 38 38" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linejoin="round" stroke-linecap="round" aria-hidden="true"><path d="M5 18 L19 6.5 L33 18"/><path d="M8.5 15.5 V31.5 H29.5 V15.5"/><path d="M16 31.5 V23 H22 V31.5"/></svg><span class="bt"><span class="bn">Czidor Imre</span><span class="bs">GÉP-M 2001 Kft. · Miskolc</span></span></a>
        <p>Építési műszaki ellenőrzés és felelős műszaki vezetés Miskolcon, 1984 óta az építőiparban, közületi és magán szférában egyaránt.</p>
      </div>
      <div class="ftr-col">
        <h4>Oldal</h4>
        <ul>
          <li><a href="#szolgaltatasok" class="lu">Szolgáltatások</a></li>
          <li><a href="#folyamat" class="lu">Hogyan dolgozom</a></li>
          <li><a href="#referenciak" class="lu">Referenciák</a></li>
          <li><a href="#bemutatkozas" class="lu">Bemutatkozás</a></li>
          <li><a href="#gyik" class="lu">GYIK</a></li>
        </ul>
      </div>
      <div class="ftr-col">
        <h4>Kapcsolat</h4>
        <address>
          <span>3535 Miskolc, Tömörkény István utca 21.</span>
          <a href="tel:+36209425707" class="lu">+36 20 942 5707</a>
          <a href="mailto:gepm.kft@gmail.com" class="lu">gepm.kft@gmail.com</a>
        </address>
      </div>
    </div>
    <div class="ftr-bottom">
      <div class="copy">© 2026 GÉP-M 2001 Kft. · Czidor Imre · Minden jog fenntartva.</div>
      <div class="ftr-legal"><a href="/impresszum/" class="lu">Impresszum</a><a href="/adatvedelem/" class="lu">Adatvédelmi tájékoztató</a></div>
      <div class="ftr-creds"><span>ME-É-I 05-50111</span><span>MV-Ép/A 05-50111</span><span>MV-M 05-50111</span></div>
    </div>
  </div>
</footer>
